@{
    ViewData["Title"] = "Resend Verification Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="text-center">Resend Verification Email</h2>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="post" class="needs-validation" novalidate>
            <div class="form-group mb-2">
                <label for="email">Email Address:</label>
                <input type="email" class="form-control" id="email" name="email" required>
                <div class="invalid-feedback">Please enter a valid email address.</div>
            </div>
            @if (ViewData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewData["SuccessMessage"]
                </div>
            }
            @if (ViewData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["ErrorMessage"]
                </div>
            }
            <button type="submit" class="btn btn-primary">Resend Verification Email</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6">
       
    </div>
</div>

