@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/sellBanner.png" alt="Sale Banner" class="img-fluid w-100">
    <h1 class="display-4 fw-bold">Welcome in the Glamour world</h1>
</div>
