html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(to bottom, #ffffff,);
}

.hero-heading {
    color: brown;
}

.first-letter {
    color: rosybrown;
}

#image-slider {
    position: relative;
    height: 70vh;
    overflow: hidden;
}

#NavigateIndicators {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
}

    .carousel-item img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }


.gallery-image {
    height: 500px;
    width: 500px;
}

.product-card {
    transition: transform 0.3s ease;
}

.card {
    height: 100%;
}

.product-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.btn-hover-effect {
    transition: background-color 0.3s ease;
}

    .btn-hover-effect:hover {
        background-color: darkblue;
        color: #fff;
    }