@model GlamourHub.Models.Brand

@{
    ViewData["Title"] = "Add Brand";
}

@await Html.PartialAsync("_AdminNavbar")

<h2 class="text-center">Add Brand</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm("AddBrand", "Brand", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="name">Brand Name</label>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group text-center pt-2">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
