@model GlamourHub.Models.Brand

@{
    ViewData["Title"] = "Add Brand";
}

@await Html.PartialAsync("_AdminNavbar")

<h2>Add Brand</h2>

@using (Html.BeginForm("AddBrand", "Brand", FormMethod.Post))
{
    <div class="form-group">
        <label for="name">Brand Name</label>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
}
