@model GlamourHub.Models.Brand

@{
    ViewData["Title"] = "Delete Brand";
}

@await Html.PartialAsync("_AdminNavbar")

<h2 class="py-2">Delete Brand</h2>

<div class="alert alert-warning">
    <p>Are you sure you want to delete the brand "<strong>@Model.Name</strong>"?</p>
</div>

@using (Html.BeginForm("ConfirmDeleteBrand", "Brand", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="BrandList" class="btn btn-secondary">Cancel</a>
}